<section class="footer">
    <footer>
        <div class = "footer_div">  
           <p class="copyright text-muted">
            欢迎你的到来 &copy; {{ site.title }} {{ site.time | date: '%Y' }} 荣幸你的驾临 <a href="http://fxhao.github.io/">FXHao</a> |
            <!-- <iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=leopardpan&repo=leopardpan.github.io&type=star&count=true" >
            </iframe> -->
            </p>
        	<div align="right">
    			<!-- <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

          <!-- 访问统计 -->
          <span id="busuanzi_container_site_pv">
            本站总访问量(估计也没人)
            <span id="busuanzi_value_site_pv"></span>次
          </span>

        </div>
        <div>
    </footer>
</section>
